In [1]:
import pandas as pd

In [31]:
csv_path = ".//pokemon.csv"

df = pd.read_csv(csv_path, index_col="#")
df

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [30]:
greatAttack = df.loc[df['Attack'] > 150]
greatAttack.count()

Name          18
Type 1        18
Type 2        13
Total         18
HP            18
Attack        18
Defense       18
Sp. Atk       18
Sp. Def       18
Speed         18
Generation    18
Legendary     18
dtype: int64

In [29]:
lowestSpeed = df.loc[df['Speed'] <= 10]
lowestSpeed.count()

Name          5
Type 1        5
Type 2        2
Total         5
HP            5
Attack        5
Defense       5
Sp. Atk       5
Sp. Def       5
Speed         5
Generation    5
Legendary     5
dtype: int64

In [44]:
lowestSDef = df.loc[df['Sp. Def'] <= 25]
# lowestSDef = df.query("`Sp. Def` <= 25")
# lowestSDef = (df['Sp. Def'] <= 25).sum()

lowestSDef.count()

18

In [35]:
legendaries = df.loc[df['Legendary'] == True]
# legendaries = df.query('Legendary == True')
legendaries

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [61]:
# df['Ratio'] = (df['Defense'] / df['Attack'])
# biggestRatio = df.sort_values(by='Ratio', ascending=False)
# biggestRatio

In [60]:
df.sort_values(by=['Defense', 'Attack'], ascending=[False, True])

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Ratio
#,,,,,,,,,,,,,
213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,23.000000
208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False,1.840000
306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False,1.642857
208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False,2.352941
377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,Smoochum,Ice,Psychic,305,45,30,15,85,65,65,2,False,0.500000
172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False,0.375000
242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False,1.000000
113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False,1.000000
440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False,1.000000

In [70]:
fireFlying = df.loc[
    (df['Type 1'] == 'Fire') &
    (df['Type 2'] == 'Flying')
]

fireFlying

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Ratio
#,,,,,,,,,,,,,
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,0.928571
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,0.750000
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,0.900000
250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True,0.692308
662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False,0.753425
663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False,0.876543

In [74]:
poisonous = df.loc[
    (df['Type 1'] == 'Poison') |
    (df['Type 2'] == 'Poison')
]

poisonous

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Ratio
#,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1.016129
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,1.012195
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,1.230000
13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,0.857143
...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,Garbodor,Poison,NaN,474,80,95,82,60,82,75,5,False,0.863158
590,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False,0.818182
591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False,0.823529
690,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False,1.000000
691,Dragalge,Poison,Dragon,494,65,75,90,97,123,44,6,False,1.200000

In [82]:
iceWall = df.loc[
    df['Type 1'] == 'Ice'
]

iceWall.sort_values(by='Defense', ascending=False).iloc[0, 0]

'Avalugg'

In [84]:
df.loc[df['Legendary'], 'Type 1'].value_counts()

Psychic     14
Dragon      12
Fire         5
Electric     4
Water        4
Rock         4
Steel        4
Ground       4
Grass        3
Ice          2
Normal       2
Ghost        2
Dark         2
Flying       2
Fairy        1
Name: Type 1, dtype: int64

In [90]:
df['Generation'].isin([1,2,3]).sum()

432

In [89]:
(df.loc[
    (df['Generation'] <= 3) & 
    ((df['Type 1'] == 'Water') | (df['Type 2'] == 'Water'))
]).sort_values(by='Total', ascending=False)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Ratio
#,,,,,,,,,,,,,
382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True,0.600000
382,Kyogre,Water,NaN,670,100,100,90,150,140,90,3,True,0.900000
130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,False,0.703226
260,SwampertMega Swampert,Water,Ground,635,100,150,110,95,110,70,3,False,0.733333
9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,1.165049
...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,Marill,Water,Fairy,250,70,20,50,20,50,40,2,False,2.500000
270,Lotad,Water,Grass,220,40,30,30,40,50,30,3,False,1.000000
194,Wooper,Water,Ground,210,55,45,45,25,25,15,2,False,1.000000
349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False,1.333333
129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,5.500000

SyntaxError: invalid syntax (2815915322.py, line 3)